div {
    width: 300px;
    height: 300px;
}

body {
    background-color: #f6f6f6;
}

.div-1 {
    background-color: red;
    position: absolute;
    z-index: 0;
}

.div-2 {
    background-color: darkgreen;
    position: absolute;
    left: 150px;
    top: 150px;
    z-index: 1;
}

.div-3 {
    background-color: blue;
    position: absolute;
    left: 300px;
    top: 300px;
    z-index: 2;
}

.div-4 {
    background-color: yellow;
    position: absolute;
    left: 450px;
    top: 450px;
    z-index: 2;
}