body {
    background-color: #cbcdcc;
    border: solid black 2px;
    margin-top: auto;
    margin-left: 148px;
    margin-right: 148px;
    padding-bottom: 604px;
}

.bird-image {
    height: 200px;
    width: 200px;
}

.bird-properities {
    position: absolute;
    top: 0px;
    left: 150px;
}

.summer-image {
    height: 200px;
    width: 200px;
}

.summer-properties {
    position: absolute;
    top: 0px;
    right: 150px;
}

.winter-image {
    height: 200px;
    width: 200px;
}

.winter-properties {
    position: absolute;
    bottom: 0px;
    left: 150px;
}

.fall-image {
    height: 200px;
    width: 200px;
}

.fall-properties {
    position: absolute;
    bottom: 0px;
    right: 150px;
}

.bird-image-copy {
    height: 150px;
    width: 150px;
}

.bird-properities-copy {
    position: absolute;
    top: 40px;
    left: 390px;
}

.summer-image-copy {
    height: 150px;
    width: 150px;
}

.summer-properties-copy {
    position: absolute;
    top: 100px;
    left: 430px;
}

.fall-image-copy {
    height: 150px;
    width: 150px;
}

.fall-properties-copy {
    position: absolute;
    top: 160px;
    left: 460px;
}

.winter-image-copy {
    position: absolute;
    top: 230px;
    left: 530px;
    height: 150px;
    width: 150px;
}

.winter-image-copy-1 {
    position: absolute;
    top: 40px;
    right: 390px;
    height: 150px;
    width: 150px;
}

.fall-image-copy-1 {
    position: absolute;
    top: 100px;
    right: 430px;
    height: 150px;
    width: 150px;
}

.summer-image-copy-1 {
    position: absolute;
    top: 160px;
    right: 460px;
    height: 150px;
    width: 150px;
}

.bird-image-copy-1 {
    position: absolute;
    top: 230px;
    right: 530px;
    height: 150px;
    width: 150px;
}